Checks: "cppcoreguidelines-*,performance-*,google-*,readability-*,bugprone-*,clang-analyzer-*,portability-*,abseil-*,modernization-*"
WarningsAsErrors: "*"
HeaderFileExtensions: "h"
ImplementationFileExtensions: "cpp"
CheckOptions:
  - key: "readability-identifier-naming.DefaultCase"
    value: snake_case
